body{
    margin: 0;
    background-color: whitesmoke;
}

.ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.html{scroll-behavior: smooth;
    scroll-margin: 20px;
}

.menulink{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
   font-size: x-large;
    color: rgb(9, 9, 52);
    padding: 30px 50px;
}
.menu-item{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.header{
    background-color: plum;

}
.imgh1{width: 900px;
    display: block;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}
.imgh2{width: 300px;
display: block;
margin-bottom: 30px;
margin-right: auto;
margin-left: auto;

}
.text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(21, 9, 21);
    margin-right: 30px;
    margin-left: 30px;
}
.h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: xx-large;
    text-align: center;
    color:  rgb(11, 11, 53);
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}
.h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: x-large;
    color: rgb(29, 29, 68);
    margin-right: 30px;
    margin-left: 30px;
}
.footer{text-align: center;
    background-color: plum;    padding: 25px;
    margin: 0;
}
.link{
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 520;
    color: midnightblue;
    margin-right: 30px;
    margin-left: 30px;
}
.space{
    margin-top: 30px;
    margin-bottom: 60px;
}